voila
numpy
pandas
matplotlib.pyplot
seabord
sklearn.model_selection
sklearn.linear_model
sklearn.metrics
ipywidgets
%matplotlib inline
autopep8==2.0.0
certifi==2023.11.17
pycodestyle==2.9.1
tomli==2.0.1
